@import "nullStyle.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgb(37, 29, 55);
  background: url("../images/hand.png") 80% 175px/300px 600px no-repeat scroll,
    url("../images/logo.png") 3% 20px/ 300px no-repeat scroll,
    url("../images/fon.jpg") 0 0 / cover no-repeat fixed;
}
.bodyBlock {
  width: auto;
  border: rgb(248, 31, 31) 2px solid;
  display: flex;
  flex-wrap: wrap;

  .container {
    border: rgb(42, 165, 134) 2px solid;
    width: 100vmax;

    .lineContainer {
      display: flex;
      justify-content: flex-end;
      .buttonURL {
        margin-top: 17px;
        margin-bottom: -100px;
        width: fit-content;
        height: fit-content;
        display: inline;
        padding: 30px;
        cursor: pointer;
        font-size: 30px;
        a {
          text-shadow: 3px 3px 3px #000;
          padding: 0 13px 9px 10px;

          color: white;

          &:hover {
            background-color: rgba(255, 255, 255, 0.5);
            border-radius: 20px;
          }
          &:active {
            background-color: blueviolet;
          }
        }
      }
    }
    .card {
      margin: 200px auto 0 auto;
      border: rgb(8, 118, 138) 2px solid;
      width: 75vw;
      height: fit-content;
      padding: 0 0 30px 0;
      display: flex;
      flex-wrap: wrap;
      .buttonsHead {
        border: brown 2px solid;
        width: 75vw;
        height: fit-content;
        display: inline;
        display: flex;
        justify-content: flex-start;

        .btn {
          position: relative;
          margin: 0 0 0 10%;
          width: 250px;
          height: fit-content;
          padding: 30px;
          border-radius: 5px;
          background-color: #e9d200;
          font-weight: bold;
          color: rgb(0, 0, 0);
          font-size: 15px;
          border: 1px solid black;
          &:hover {
            background-color: rgba(236, 201, 0, 0.9);
          }

          &::before {
            content: "";
            background: url("../images/phone_icon.png") 0 0 /35% no-repeat;
            width: 100px;
            height: 100px;
            position: absolute;
            top: 32%;
            left: 4%;
          }
        }
      }
      .list {
        margin: 0 0 0 0;
        font-size: 35px;
        li {
          position: relative;
          color: white;
          margin: 0 0 20px 0;
          padding: 0 0 0 75px;
        }
        li:nth-child(1) {
          font-weight: bold;
          margin: 0 0 40px 0;
        }
        li:nth-child(2) {
          margin: 0 0 70px 0;
        }
        li:nth-child(3) {
          margin: 0 0 50px 0;
          &::before {
            content: "";
            background: url("../images/clock.png") 0 0 no-repeat;
            width: 70px;
            height: 70px;
            position: absolute;
            top: -10px;
            left: 0;
          }
        }
        li:nth-child(4) {
          margin: 0 0 50px 0;
          &::before {
            content: "";
            background: url("../images/chip.png") 0 0 no-repeat;
            width: 70px;
            height: 70px;
            position: absolute;
            top: -10px;
            left: 0;
          }
        }
        li:nth-child(5) {
          margin: 0 0 50px 0;
          &::before {
            content: "";
            background: url("../images/medal.png") 0 0 no-repeat;
            width: 70px;
            height: 70px;
            position: absolute;
            top: -10px;
            left: 15px;
          }
        }
      }
    }
  }
  .containerContent {
    width: 100vmax;
    height: fit-content;
    background: url("../images/space.png");
    padding: 0 0 30px 0;
    li {
      color: black;
      font-size: 4vh;
      text-align: center;
      text-shadow: 1px 1px 1px #000;
    }
    li:nth-child(1) {
      padding: 40px 0 0 0;
    }
    li:nth-child(2) {
      margin: 20px 0 0 0;
      font-size: 3vh;
    }
    .flexPhoto {
      width: 70%;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      .photo1 {
        cursor: pointer;
        overflow: hidden;
        margin: 50px 0 0 10px;
        background-color: white;
        width: 300px;
        height: 200px;
        border: 1px solid #000;
      }
      img {
        position: relative;
        left: 11px;
        top: -100px;
      }
    }
  }
  .containerQuiz {
    border-top: black 1px solid;
    border-bottom: black 1px solid;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100vmax;
    height: fit-content;
    .switcher {
      display: flex;
      align-items: center;
      justify-content: center;
      width: auto;
      height: 50px;
      background-color: #ffffff;
      border-bottom: black 1px solid;
      .device {
        width: fit-content;
        height: fit-content;
        padding: 10px;

        border-radius: 15px;
        margin: auto 0 auto 15px;
        color: black;
        font-size: 20px;
        cursor: pointer;

        &:hover {
          color: red;
        }
      }
      .deviceActive {
        width: fit-content;
        height: fit-content;
        padding: 10px;

        border-radius: 15px;
        margin: auto 0 auto 15px;
        color: red;
        font-size: 20px;
        cursor: pointer;
      }
    }
    .cardModels {
      display: flex;
      align-items: center;
      justify-content: center;
      width: auto;
      height: fit-content;
      margin: 0 auto 0 auto;
      background-color: #ffffff;
      padding: 50px 200px 50px 200px;
      flex-wrap: wrap;
      font-size: 30px;
      color: black;
      .model {
        width: fit-content;
        height: fit-content;
        padding: 10px;
        border: black solid 1px;

        margin: 0 10px 20px 10px;
        color: black;
        font-size: 25px;

        text-align: center;
        cursor: pointer;
        &:hover {
          box-shadow: 0 0 1px black, 0 0 3px black, 0 0 5px black;
          border: black solid 1px;
        }
      }
    }
  }

  .containterNumber {
    border-bottom: black 1px solid;
    margin: 0 0 0 0;
    padding: 0 0 40px 0;
    width: 100vmax;
    height: fit-content;
    background: url("../images/space1.png");
    li {
      position: relative;
      font-size: 40px;
      font-weight: bold;
      text-align: center;
    }
    li:nth-child(1) {
      padding: 120px 0 0 0;
      color: black;
    }
    li:nth-child(2) {
      font-size: 25px;
      padding: 30px 0 0 0;
      color: black;
    }
    .inputNumb {
      font-size: 20px;
      color: black;
      width: 300px;
      padding: 5px;
      margin: 40px auto 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      background-color: rgba(255, 255, 255, 0);
      border-bottom: 1px solid black;
    }
    .btn {
      margin: 50px auto 70px auto;
      width: 300px;
      height: fit-content;
      padding: 10px;
      border-radius: 5px;
      background-color: #e9d200;
      border: #e9d200 1px solid;
      font-weight: bold;
      color: rgb(0, 0, 0);
      font-size: 15px;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;

      &:hover {
        background-color: white;
      }
    }
  }

  .containerMap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #fff;
    width: 100%;
    height: fit-content;
    padding: 50px;
    border-bottom: 1px black solid;
    margin: 0 auto;

    .btnMap {
      margin: 80px 0 0 60px;
      width: fit-content;
      height: fit-content;
      padding: 10px;
      border-radius: 5px;
      background-color: #e9d200;
      font-weight: bold;
      color: #000;
      font-size: 15px;
      border: 1px solid #e9d200;

      &:hover {
        color: #000;
        background-color: #fff;
      }
    }
  }
  .mapText {
    height: 400px;
    width: 500px;
    margin: 20px auto 0 auto;
    border: 1px solid black;

    font-size: 20px;
    .infoMap {
      position: relative;
      top: 20px;
      text-align: center;
    }
  }

  .containerQuestions {
    background-color: #ffffff;
    width: 100vmax;
    height: fit-content;
    padding: 5px;
    ul {
      text-align: center;
      font-weight: bold;
      color: black;

      padding: 10px;
      li:nth-child(1) {
        font-size: 30px;
        padding: 0 0 20px 0;
      }
      li:nth-child(2) {
        font-size: 20px;
        padding: 0 0 30px 0;
      }
    }
    .questCard {
      text-align: center;
      width: 100%;
      height: fit-content;
      background-color: #ffffff;
      margin: 0 auto 10px auto;
      padding: 10px;
      font-weight: bold;
      color: black;
      font-size: 20px;
      cursor: pointer;
      border-radius: 10px;

      &:hover {
        color: white;
        background-color: #000000;
      }

      h4 {
        width: fit-content;
        padding: 15px;
        border-bottom: black solid 1px;

        border-radius: 5px;
      }
    }
  }

  .footerVue {
    display: flex;

    margin: 0 0 0 0;
    background-color: #1c1c1c;
    width: 100vmax;
    height: fit-content;
    padding: 5px;

    .cardFooter {
      background-color: #1c1c1c;

      width: auto;
      height: fit-content;
      margin: 0 auto 0 auto;

      .logoContactsVk {
        margin: 2vh auto 0 auto;
        background: url("../images/vk.png") 50% 25%/ 80% no-repeat scroll;
        width: 50px;
        height: 50px;
      }
      .logoContactsInst {
        margin: 0 auto 0 auto;
        background: url("../images/inst.png") 50% 25%/ 80% no-repeat scroll;
        width: 50px;
        height: 50px;
      }
      .logoContactsTelegram {
        margin: 0 auto 0 auto;
        background: url("../images/telegram.png") 50% 25%/ 80% no-repeat scroll;
        width: 50px;
        height: 50px;
      }
      h3 {
        text-align: center;
        font-size: 2vh;
        font-weight: bold;
        color: #fff;
        margin: 8px 0 0 0;
        padding: 10px;
      }
      .btn {
        margin: 5px auto 15px auto;
        width: 150px;
        height: fit-content;
        padding: 10px;
        border-radius: 5px;
        background-color: #fff;
        font-weight: bold;
        color: rgb(0, 0, 0);
        font-size: 15px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        &:hover {
          color: white;
          background-color: #1c1c1c;
        }
      }
      ul {
        text-align: center;
        font-size: 2vh;
        font-weight: bold;
        color: #fff;
        margin: 20px 0 0 -30px;
        padding: 10px;
        cursor: pointer;
      }
      li:nth-child(1) {
        margin: 8px 0 0 0;
      }
      li:nth-child(2) {
        margin: 25px 0 0 0;
      }
    }
  }

  .cardSlider {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vw;
    background-color: rgba(255, 255, 255, 0.5);

    .slider {
      padding: 70px 20px 70px 20px;
      position: fixed;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      max-width: 1000px;
      max-height: 1000px;
      min-width: 10px;
      min-height: 10px;
      z-index: 2;
      border-radius: 20px;
      background-color: rgba(0, 0, 0, 0.5);
    }
    .next {
      margin-top: 55%;
      font-size: 15px;
      height: 100%;
      width: fit-content;
      padding: 0 70px 0 25px;
      background: rgba(255, 255, 255, 0);
      &::after {
        content: "";
        background: url("../images/next.png") 0 0/ 100% no-repeat;
        width: 70px;
        height: 70px;
        position: absolute;
      }
    }
    .prev {
      margin-top: 55%;
      font-size: 15px;
      height: 100%;
      width: fit-content;
      padding: 1px 100px 0 0;
      background: rgba(255, 255, 255, 0);

      &::before {
        content: "";
        background: url("../images/prev.png") 0 0/ 100% no-repeat;
        width: 70px;
        height: 70px;
        position: absolute;
      }
    }
    .imgSlider {
      max-width: 100%;
      height: auto;
    }
  }
  .slider1 {
    display: none;
  }
  .mob {
    display: none;
  }
  .none {
    display: none;
  }
}
@media (max-width: 1600px) {
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: rgb(37, 29, 55);
    background: url("../images/logo.png") 3% 20px/ 300px no-repeat scroll,
      url("../images/fon.jpg") 0 0 / cover no-repeat fixed;
  }
}
//мобилка
@media (max-width: 1200px) {
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: rgb(37, 29, 55);
    background: url("../images/logo.png") 50% 20px/ 300px no-repeat scroll,
      url("../images/fon.jpg") 0 0 / cover no-repeat fixed;
  }
  .bodyBlock .container .lineContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: center;
  }

  .bodyBlock .container .lineContainer .buttonURL {
    margin-top: 150px;
    margin-bottom: -150px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: inline;
    padding: 30px;
    cursor: pointer;
    font-size: 30px;
  }
  .mob {
    padding: 10px;
    display: block;
    color: black;
    font-size: 30px;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
  }
  .containerContent {
    display: none;
  }

  .containerContent1 {
    margin: 0 0 0 0;
    padding: 0 0 40px 0;
    width: 100vmax;
    height: fit-content;
    background: url("../images/space.png");

    li {
      color: black;
      font-size: 4vh;
      text-align: center;
      text-shadow: 1px 1px 1px #000;
    }
    li:nth-child(1) {
      padding: 40px 0 0 0;
    }
    li:nth-child(2) {
      display: none;
    }
    .flexPhoto {
      width: 70%;
      margin: 0px auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      .photo1 {
        cursor: pointer;
        overflow: hidden;
        margin: 50px 0 0 10px;
        background-color: white;
        width: 300px;
        height: 450px;
        border: 1px solid #000;
      }
      img {
        position: relative;
        left: 11px;
        top: 0px;
      }
    }
    .slider1 {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 40px;
      cursor: pointer;
    }
  }
  .cardSlider {
    display: none;
  }
}
